<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="bd" 
			connectionString="Data Source=LAPTOP-QS54F2AD\MSSQLSERVER01;Initial Catalog=SoftwareRestaurante;User ID=sa;Password=msmuser;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>